body {
	background-color: #7F87A1;
}

#formContainer {
	height: 70px;
	width: 700px;
/*	border: solid 2px black;*/
	display: flex;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;

/*	justify-content: center;
*/}

#inner-window {
	width: 400px;
	height: 450px;
	border-radius: 60px;
	border: solid 1px black;
	background-color: #4E530D;
	display: flex;
	align-items: flex-end;
}

#tamacontainer { 
	width: 450px;
	height: 500px;
	background-color: crimson;
	border-radius: 50px;
	border: solid 10px black;
	font-size: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	align-items: center;
	flex-direction: column;
 }


 #buttoncontainer {
 	order: 1;
 	width: 100px;
	height: 200px;
/*	background-color: white;
	border: solid 2px black;*/
	font-size: 20px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Permanent Marker', cursive;
	margin-bottom: 230px;
	margin-left: 10px;

 }


#buttonfeed, #buttonplay, #buttonsleep {
	height: 50px;
	width: 50px;
	border-radius: 20px;
	font-size: 38px;
	font-family: 'Permanent Marker', cursive;
	color: black;
	background-color: teal;
	border: solid 3px gray;
	margin-top: 10px;
/*	margin-bottom: 100px;
*/}


#tamabody {
	background-image: url("https://i.pinimg.com/236x/9f/74/f8/9f74f8bed366bb03c63baee96a3fe5a4--cartoon-movies-kid-movies.jpg");
	border-radius: 60px;
	border: solid 2px black;
	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
	color: black;
	height: 200px;
	width: 200px;
	align-items: flex-end;
	order: 2;
	margin-bottom: 10px;

}





