body {
	background-image: url("https://images.pexels.com/photos/1287142/pexels-photo-1287142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}

#curtain {
	position: fixed;
	width: 500px;
	height: 600px;
	border: solid 3px yellow;
	background-image: url("https://cdnb.artstation.com/p/assets/images/images/015/358/707/large/daniel-jimenez-1548053606864.jpg?1548053656");
	font-family: 'Caveat', cursive;
	color: ivory;
	font-size: 25px;
	padding: 20px;


}

#box {
	font-family: 'Caveat', cursive;
	color: white;
	font-size: 30px;
	padding: 20px;
}

#formContainer {
	height: 70px;
	width: 700px;
/*	border: solid 2px black;
*/	display: flex;
	font-family: 'Dancing Script', cursive;

	font-size: 20px;

	justify-content: space-between;
	flex-direction: row;
}

#input-name {
	height: 40px;
	width: 400px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	display: flex;
	justify-content: space-between;
	/*	border-radius: 10px;
*/}

#name-subm-bttn {
	font-family: 'Dancing Script', cursive;
	font-size: 16px;
/*	border-radius: 10px;
*/	height: 40px;
	width: 60px;
}

#inner-window {
	width: 380px;
	height: 450px;
	border-radius: 60px;
	border: solid 1px black;
	background-image: url("https://content.audiospace.co/stations/40/files/News/sky-night-street-polska.jpg");
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
		flex-wrap: nowrap;


}

#stats {
	width: 180px;
	height: 100px;
	border-radius: 40%;
	border: solid 1px yellow;
	background-color: #4E530D;
	justify-content: flex-start;
	margin-top: 10px;
	flex-wrap: nowrap;
	font-size: 16px;
	font-family: 'Dancing Script', cursive;

}

#tamacontainer { 
	display: block;
	width: 450px;
	height: 530px;
	background-color: purple;
	border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
	border: solid 3px black;
	font-size: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	font-family: 'Permanent Marker', cursive;

 }


 #buttoncontainer {
 	width: 270px;
	height: 100px;
/*	border: solid 2px black;
*/	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
 }


#buttonfeed, #buttonplay, #buttonsleep {
	height: 50px;
	width: 50px;
	border-radius: 20px;
	font-size: 38px;
	font-family: 'Permanent Marker', cursive;
	color: black;
	background-color: teal;
	border: solid 1px yellow;
	margin-top: 10px;
	justify-content: flex-start;
	flex-wrap: nowrap;


}


#tamabody {
	/*background-image: url("https://i.pinimg.com/236x/9f/74/f8/9f74f8bed366bb03c63baee96a3fe5a4--cartoon-movies-kid-movies.jpg");*/
	background-image: url("https://i.gifer.com/embedded/download/91S8.gif");
	/*background-image: url("https://orig00.deviantart.net/aa4a/f/2017/042/0/6/output_r62fts_by_shadythebluewolf-dayr1uy.gif");*/
	border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
	border: solid 2px black;
	font-size: 20px;
	font-family: 'Permanent Marker', cursive;
	color: black;
	height: 220px;
	width: 220px;
	align-items: flex-end;

}

/*img {
	max-width: 100%;
	max-height: 100%;

}
*/

